conda.enabled = true
process.cache = true
nextflow.enable.dsl=2
// Parameters 

params.input_reads = "${PWD}/../../data/data_raw/RNA/*.fastq.gz" 
params.directory_out = "${PWD}/../.."
params.scripts = "${PWD}/scripts"
// Nr cores and number processes running simultaneously
process {
    cpus = 8
    maxForks = 4
}

// Use conda env from this file
profiles {
    conda {
      process.conda = '../environment.yml'
    }
}

// Produce flow chart of all processes
dag {
    enabled = true
    file = '../../documentation/RNA/flow_chart.mmd'
    dag.overwrite = true
}

// Report how long everything took
trace {
    enabled = true
    file = '../../documentation/RNA/trace_report.txt'
    trace.overwrite = true
}